@use "../utils/variables.scss";
@use "../utils/mixin.scss";

.infos {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
  gap: 50px;

  img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid variables.$third-color;
  }
}

.infos_txt {
  .name {
    font-size: 2.3em;
    font-weight: 500;
    font-style: oblique;
    word-spacing: 10px;
    margin-bottom: 50px;
    color: variables.$primary-color;
  }

  .city {
    font-size: 2em;
    font-weight: 500;
    font-style: oblique;
    text-align: center;
    color: variables.$primary-color;
  }
}
