@use "../utils/variables.scss";
@use "../utils/mixin.scss";

.card-Container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 50px;

  .cards {
    width: 25%;
    height: 300px;
    border-radius: 20px;
    cursor: pointer;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    animation: transform 0.5s ease-in;
    @include mixin.shadowCard;

    &:hover {
      transform: scale(1.1);
    }

    img {
      width: 100%;
      height: 230px;
      object-fit: cover;
      border-radius: 20px 20px 0 0;
    }

    h3 {
      @include mixin.title;
      font-size: 1.2em;
      color: variables.$primary-color;
      margin-bottom: 25px;
    }
  }

  .cards:nth-child(6) img {
    object-position: 0 5%;
  }

  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
  }

  .modal {
    width: 500px;
    height: 600px;
    background-color: variables.$primary-color;
    position: fixed;
    top: 45%;
    left: 50%;
    transform: translate(-45%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border-radius: 20px;
    @include mixin.shadowModal;

    .fa-xmark {
      position: absolute;
      top: 30px;
      right: 30px;
      background-color: variables.$secondary-color;
      font-size: 1.5em;
      padding: 5px;
      border-radius: 5px;
      color: variables.$third-color;
    }

    img {
      border-radius: 20px 20px 0 0;
      height: 280px;
      object-fit: cover;
      width: 100%;
    }

    h2 {
      color: variables.$fourth-color;
      margin: 20px;
    }

    p {
      @include mixin.text;
      font-size: 1.2em;
      color: variables.$fourth-color;
      margin: 0 auto 15px auto;
      width: 70%;
    }

    .fa-arrow-up-from-bracket {
      width: 60px;
      height: 60px;
      background-color: variables.$secondary-color;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1.3em;
      color: variables.$third-color;
      animation: transform 0.4s ease-in;
      border: 4px solid variables.$third-color;

      &:hover {
        transform: scale(0.9);
      }
    }
  }
}
